.users-list-continer {
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
}

.users-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
}